body {
  margin:auto;
  width:490px;
}
button {
  border:none;
  background:transparent;
  cursor: pointer;
}
.logo {
  position:absolute;
  top:10px;
  left:10px;
  color:white;
}
.main {
  position:relative;
}
.main p {
  color:white;
  position:absolute;
  top:50%;
  right:10px;
  font-size:30px;
}
.main_btn1 {
  position:absolute;
  top:0;
  right:50px;
  margin:5px 10px;
}
.main_btn2 {
  position:absolute;
  top:0;
  right:0px;
  margin:5px 10px;
}
.main_btn2 img {
  width:24px;
}
.main_img {
  background-color:#544856;
}
.main_img img {
  height:225px;
}
.sub_menu {
  position:sticky;
  top:0;
  background:white;
  border:0.5px solid rgba(0,0,0,0.3);
  z-index:1000;
}
.sub_menu li {
  cursor:pointer;
}
.sub_menu ul > li:hover {
  color:rgba(22, 190, 64, 0.5);
  text-decoration:underline rgba(22, 190, 64);
}
.big_main {
  display:flex;
  width:495px;
  height:100%;
  flex-wrap:wrap;
  flex-direction:row;
}
.thumbnail {
  width:160px;
  height:280px;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
  margin-right:5px;
  border-radius:10px;
  cursor: pointer;
}
.thumbnail div {
  overflow:hidden;
}
.thumbnail p {
  margin:5px 0;
  font-size:12px;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}
.thumbnail p:nth-child(1) {
  color:red;
}
.thumbnail p:nth-child(2) {
  color:rgba(0,0,0,0.5);
}
.thumbnail img {
  width:160px;
  height:207px;
  transition:0.5s;
}
.thumbnail img:hover {
  transform:scale(1.1);
}
.warning {
  background-color:rgb(212, 212, 212);
  border-bottom:1px solid grey;
  font-size:12px;
  padding:10px 30px;
  text-align:center;
}
.warning p {
  margin:5px;
}
.warning .text1 li {
  margin:0 7px;
}
.warning li:nth-child(1) {
  color:rgba(0,0,0,0.5)
}
.warning li:nth-child(3) {
  color:rgba(0,0,0,0.5)
}
.warning li:nth-child(5) {
  font-weight:bold;
}
.text1 {
  display:flex;
  margin:10px;
}
.text2 {
  display:flex;
  align-items:center;
  justify-content:center;
}
.text2 li {
  margin:0 7px;
}
.text3 {
  padding:10px 0;
  font-size:10px;
  color:rgba(0,0,0,0.5)
}
.footer {
  width:495px;
  position:sticky;
  bottom:0;
  height:70px;
  background-color:white;
  align-items:center;
  justify-content:center;
  display:flex;
  font-size:12px;
}
.footer img {
  width:24px;
  margin-bottom:5px;
}
.sub_menu ul {
  display:flex;
  margin:10px 20px;
  flex:1;
}
.sub_menu li {
  flex:1;
  text-align:center;
}
.footer ul {
  display:flex;
  margin:10px 20px;
  flex:1;
}
.footer li {
  flex:1;
  text-align:center;
}
